@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.button {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  width: 100%;
  padding: 0.7rem 2rem;
  border: none;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: none;
  border: 2px solid #e2e2e2;
}

.input:focus{
  outline: none;
}
.input::placeholder{
  color: #e2e2e2;
  font-size: 0.9rem;
}
label{
 font-size: 0.8rem;
}

body {
  color: black;
  padding: 1.5rem;
}

.header {
  height: 500px;
  /* background-image: url('https://kcc.knust.edu.gh/sites/kcc.knust.edu.gh/files/2023-01/about-kcc.jpg');
  background-size: cover; */
}

/* .div-first {
  height: 490px;
}

.cognitive-div {
  height: 545px;
}

.relative .box {
  height: 330px;
}

.teams{
  height: 1015px;
} */

