@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

  .button {
    @apply rounded-[30px] flex justify-center items-center ;
  }


body {
  color: black;
  padding: 2.5rem;
}

.header {
  height: 500px;
  /* background-image: url('https://kcc.knust.edu.gh/sites/kcc.knust.edu.gh/files/2023-01/about-kcc.jpg');
  background-size: cover; */
}

/* .div-first {
  height: 490px;
}

.cognitive-div {
  height: 545px;
}

.relative .box {
  height: 330px;
}

.teams{
  height: 1015px;
} */

